.terms-wrapper{
  display: flex;
  background-color: var(--background-secondary);
  height: 3rem;
  align-items: center;
  border-radius: .75rem;
  padding: .75rem;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  cursor: pointer;

  & img{
    width: 1rem;
    height: 1rem;
  }

}

.checkbox-wrapper{
  position: relative;

  & [type="checkbox"]{
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image{
    width: 1rem;
    height: 1rem;
    background-image: url(../../assets/icons/checkbox-default.svg);
    background-repeat: no-repeat;
    background-position: center;
    
  }

  &:hover, &:focus-within{
    .checkbox-image{
      background-image: url(../../assets/icons/checkbox-hover.svg);
    }
  }

  &:has(:checked) .checkbox-image{
      background-image: url(../../assets/icons/checkbox-checked.svg);
    }
}

label{
  position: absolute;
  margin-left: 1.5rem;
  color: var(--content-secondary);

}

