.input-area{
  margin-top: 2.75rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 2.5rem;

  & input{
    font: var(--text-placeholder);
    outline: solid 0.125rem var(--border-primary);
    border-radius: 0.75rem;
    padding: 0.69rem 1.125rem;
    flex-grow: 1;
    border: none;

    &:hover{
      outline: solid 0.125rem var(--border-hover);
    }
    &:focus{
      outline: solid 0.125rem var(--color-brand);
    }
  }



  & button{
    font: var(--text-label);
    color: var(--always-white);
    background-color: var(--color-brand);
    border: none;
    border-radius: 0.75rem;
    padding: .75rem 1.5rem;
    cursor: pointer;

    &:hover{
      background-color: var(--color-brand-hover);
    }
  }
}