*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-family: "Inter", sans-serif;
  --font-family-logo: "Sora", sans-serif;

  --text-logo: 700 1.72rem/1.67rem var(--font-family-logo);
  --text-title: 700 1.5rem/2rem var(--font-family);
  --text-label: 600 1rem/1.25rem var(--font-family);
  --text-paragraph: 500 1rem/1.25rem var(--font-family);
  --text-link: 500 0.875rem/1rem var(--font-family);
  --text-placeholder: 400 1rem/1.375rem var(--font-family);

  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

}

body{
  font: var(--font-family);
}

